@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Passwort vergessen";
}

<div
    class="auth-layout-container flex flex-column justify-center items-center w-100 px-10 xl:px-30"
>
    <div class="card w-full max-w-2xl bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                Setze dein Passwort zurück
            </h2>
            <form>
                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">
                            Welches neue Passwort möchtest du verwenden?
                        </span>
                    </label>
                    <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" name="password" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Bitte wiederhole dein neues Passwort</span>
                    </label>
                    <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" name="confirmPassword" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>
                <div class="card-actions justify-center pt-5">
                    <button class="btn btn-primary">Zurücksetzen</button>
                </div>
            </form>
        </div>
    </div>
</div>