@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Passwort vergessen";
}

<div
    class="auth-layout-container flex flex-column justify-center items-center w-100 px-10 xl:px-30"
>
    <div class="card w-full max-w-2xl bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                Du hast dein Passwort vergessen?
            </h2>
            <div>Kein Problem, wir senden dir eine E-Mail zu, damit du dein Passwort zur端cksetzen kannst.</div>
            <form>
                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Was ist deine E-Mail?</span>
                    </label>
                    <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-xl" name="email" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte 端berpr端fe deine Eingabe f端r dieses Feld
                        </span>
                    </label>
                </div>
                <div class="card-actions justify-center pt-5">
                    <button class="btn btn-primary">Senden</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/auth/password-forgotten.js" asp-append-version="true" type="module" ></script>
}