@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Jetzt anmelden";
}

<div
    class="auth-layout-container flex flex-column justify-center items-center w-100 px-10 xl:px-30"
>
    <div class="card w-full max-w-2xl bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                Melde dich in deinem Konto an.
            </h2>

            <form>
                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Was ist deine E-Mail?</span>
                    </label>
                    <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-xl" name="email" />
                    <label class="label">
                        <span class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Welches Passwort möchtest du verwenden?</span>
                    </label>
                    <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" name="password" />
                    <label class="label">
                        <span class="label-text-alt text-error"></span>
                    </label>
                </div>

                <div class="card-actions justify-center pt-5">
                    <button class="btn btn-primary">Anmelden</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/auth/sign-in.js" asp-append-version="true" type="module" ></script>
}