@{
    Layout = "Layouts/_AuthLayout";
    ViewData["Title"] = "Konto erstellen";
}

<div class="auth-layout-container flex flex-column justify-center items-center w-100 px-10 xl:px-30">
    <div class="card w-full max-w-2xl bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                Erstelle jetzt ein Konto.
            </h2>
            <form>
                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Was ist dein Vorname?</span>
                    </label>
                    <input type="text" name="firstName" placeholder="Vorname" class="input input-bordered w-full max-w-xl" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Was ist dein Nachname?</span>
                    </label>
                    <input type="text" placeholder="Nachname" class="input input-bordered w-full max-w-xl" name="lastName" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Was ist deine E-Mail?</span>
                    </label>
                    <input type="email" placeholder="E-Mail" class="input input-bordered w-full max-w-xl" name="email" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">
                            Welches Passwort möchtest du verwenden?
                        </span>
                    </label>
                    <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" name="password" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control w-full max-w-xl">
                    <label class="label">
                        <span class="label-text">Bitte wiederhole dein Passwort</span>
                    </label>
                    <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" name="confirmPassword" />
                    <label class="label">
                        <span class="label-text-alt text-error hidden">
                            Bitte überprüfe deine Eingabe für dieses Feld
                        </span>
                    </label>
                </div>

                <div class="form-control pt-3 items-start">
                    <label class="label cursor-pointer max-w-xl">
                        <input type="checkbox" class="checkbox" name="privacyPolicyAccepted" value="true" />
                        <span class="label-text pl-2">Ich habe die Datenschutzerklärung gelesen und bin damit einverstanden.</span>
                    </label>
                </div>

                <div
                    class="pt-2"
                >
                    <a
                        class="link link-hover ps-1"
                        asp-controller="Auth"
                        asp-action="SignIn"
                    >Du hast bereits ein Konto?</a>
                </div>

                <div class="card-actions justify-center pt-5"> 
                    <button class="btn btn-primary">Konto erstellen</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/auth/sign-up.js" type="module" asp-append-version="true"></script>
}
