@{
    Layout = "Layouts/_DashboardLayout";
    ViewData["Title"] = "Ausgaben";
}

<div class="p-6">
    <div class="card bg-base-100">
        <div class="card-body shadow-xl">
            <div class="text-xl font-semibold inline-block">
                Ausgaben
                <div class="inline-block float-right">
                    <div class="inline-block float-right">
                        <button id="create-expense-btn" class="btn btn-primary px-6 btn-sm">hinzufügen</button>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="grid grid-cols-1 2xl:grid-cols-2 xl:pt-6 gap-2">
                <div class="border-info-content overflow-x-auto w-full">
                    <table class="table w-full">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name der Ausgabe</th>
                                <th>Höhe der Ausgabe</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var expense in ViewBag.expenses)
                            {
                                <tr>
                                    <th>
                                        @expense.id
                                    </th>
                                    <td>
                                        @expense.name
                                    </td>
                                    <td>
                                        @expense.value
                                    </td>
                                    <td
                                        class="flex justify-end"
                                    >
                                         <div class="dropdown dropdown-bottom dropdown-end ml-auto">
                                            <label tabindex="0" class="btn btn-ghost btn-sm normal-case btn-square ">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"></path>
                                                </svg>
                                            </label>
                                            <ul tabindex="0" class="dropdown-content menu menu-compact  p-2 shadow bg-base-100 rounded-box w-52">
                                                <li>
                                                    <a>
                                                        bearbeiten
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        löschen
                                                    </a>
                                                </li>
                                            </ul>
                                        </div> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @* <tfoot>
                            <tr>
                                <th></th> 
                                <th></th> 
                                <th></th> 
                                <th></th> 
                            </tr>
                        </tfoot> *@
                    </table>
                </div>
                <div class="bg-base-300 rounded">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<template id="expense-modal">
    <h3 class="font-bold text-xl">Ausgabe hinzufügen</h3>
    <div class="divider my-1"></div>
    <form>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Name der Ausgabe</span>
            </label>
            <input type="text" placeholder="Ausgabe" class="input input-bordered">
            <label class="label">
                <span class="label-text"></span>
            </label>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Höhe der Ausgabe</span>
            </label>
            <input type="text" placeholder="Ausgabe" class="input input-bordered">
            <label class="label">
                <span class="label-text"></span>
            </label>
        </div>
    </form>
</template>

<script src="~/js/dashboard/expenses.js" type="module" asp-append-version="true"></script>