@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Ausgaben";
}

<div class="p-6">
    <div class="card bg-base-100">
        <div class="card-body shadow-xl">
            <div class="text-xl font-semibold inline-block">
                Current Leads
                <div class="inline-block float-right">
                    <div class="inline-block float-right">
                        <button class="btn px-6 btn-sm normal-case btn-primary">
                            hinzufügen
                        </button>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 2xl:grid-cols-2 gap-2">
                <div class="shadow-md border-info-content">
                    <table class="table w-full">
                        <thead>
                            <tr>
                                <th
                                    class="bg-accent  text-primary-content"
                                ></th>
                                <th
                                    class="bg-accent  text-primary-content"
                                >Name</th>
                                <th
                                    class="bg-accent  text-primary-content"
                                >Job</th>
                                <th
                                    class="bg-accent  text-primary-content"
                                >Favorite Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>Cy Ganderton</td>
                                <td>Quality Control Specialist</td>
                                <td>Blue</td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>Hart Hagerty</td>
                                <td>Desktop Support Technician</td>
                                <td>Purple</td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td>Brice Swyre</td>
                                <td>Tax Accountant</td>
                                <td>Red</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th> 
                                <th></th> 
                                <th></th> 
                                <th></th> 
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                <div class="bg-base-300 rounded"></div>
            </div>
        </div>
    </div>
</div>