@{
    Layout = "Layouts/_ErrorLayout";
    ViewData["Title"] = "404 - Eine Reise ins nichts";
}

<div class="error-container grid place-items-center">
    <div class="text-5xl font-bold text-primary">404</div>
</div>