@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div
    class="auth-layout-container flex flex-column justify-center items-center w-100 px-10 xl:px-30"
>
    <div class="card w-full max-w-2xl bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title text-2xl">
                Erstelle jetzt ein Konto.
            </h2>
            
            <div class="form-control w-full max-w-xl">
                <label class="label">
                    <span class="label-text">Was ist dein Vorname?</span>
                </label>
                <!-- set input-error class on input to display red border -->
                <input type="text" placeholder="Vorname" class="input input-bordered w-full max-w-xl" />
            </div>

            <div class="form-control w-full max-w-xl">
                <label class="label">
                    <span class="label-text">Was ist dein Nachname?</span>
                </label>
                <input type="text" placeholder="Nachname" class="input input-bordered w-full max-w-xl" />
            </div>

            <div class="form-control w-full max-w-xl">
                <label class="label">
                    <span class="label-text">Was ist deine E-Mail?</span>
                </label>
                <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-xl" />
            </div>

            <div class="form-control w-full max-w-xl">
                <label class="label">
                    <span class="label-text">Welches Passwort möchtest du verwenden?</span>
                </label>
                <input type="password" placeholder="Passwort" class="input input-bordered w-full max-w-xl" />
            </div>

            <div class="form-control pt-2">
                <label class="label cursor-pointer max-w-xl">
                    <input type="checkbox" class="checkbox checkbox-primary" />
                    <span class="label-text pl-2">Ich habe die Datenschutzerklärung gelesen und bin damit einverstanden.</span> 
                </label>
            </div>

            <div class="card-actions justify-center pt-5">
                <button class="btn btn-primary">Konto erstellen</button>
            </div>
        </div>
    </div>
</div>