/*
    fix to prevent large flashing of icons when normal css still loads
*/
svg {
    width: 0px;
    /* height: 0px; */
}

/*
    increase z index of toast container to make sure it is always on top, even
    if a modal is open
*/
.toast-container {
    z-index: 1000;
}

.auth-layout-container {
    min-height: calc(100vh - 48px);
    padding-bottom: 48px;
}

.dashboard-layout-container {
    height: calc(100vh - 64px);
}

.dashboard-layout-container .sidebar {
    height: calc(100vh - 64px);
    overflow: hidden;
}

.dashboard-layout-container .dashboard-content {
    overflow-y: scroll;
}

/*
    needs to be defined extra, beacause there is no easy way to change to class 
    jquery validation applies when an input is invalid
    so we apply the styles of the default daisyui input-error class
*/
.input-validation-error {
    --tw-border-opacity: 1;
    border-color: hsl(var(--er) / var(--tw-border-opacity));
}

.input-validation-error:focus {
    outline: 2px solid hsl(var(--er));
}

/*
    set the sibling label color to red when the checkbox input is invalid
*/
.input-validation-error ~ .label-text {
    color: hsl(var(--er)) !important;
}

.input-error ~ .label-text {
    color: hsl(var(--er)) !important;
}

.input-error ~ .label > span {
    display: block;
}
